<div class="error-container">
    <h1>404</h1>
    <p>Oops! We can't seem to find a page you're looking for.</p>
    <a class="return-to-home-btn" href="/">Return to Homepage</a>
    <p class="subtext">If you think this is a mistake, please contact support.</p>
</div>
