<div class="error-container">
    <h1>404</h1>
    <p>Oops! The page you're looking for doesn't exist, or you might need to log in to access it.</p>
    <a href="/">Return to Homepage</a>
    <p class="subtext">If you think this is a mistake, please contact support.</p>
</div>
