
<section class="home-section">
    <div class="overlay" id="home-form">
        <h1 class="text-dark">Welcome to RecipeApp</h1>
        <p>Discover and Share Delicious Recipes</p>
        <a asp-controller="Recipe" asp-action="Index" class="btn-home-recipes">View all recipes</a>
    </div>
<div class="home-page-quote">
    <h4>“A recipe has no soul. You, as the cook, must bring soul to the recipe.”</h4>
    <p> – Thomas Keller</p>
</div>
</section>