@using RecipeApp.Web.ViewModels.CategoryViewModels
@model IEnumerable<CategoryViewModel>

<h2>Recipes Categories</h2>

<form id="category-form" controller="Category" action="Index" method="get">
<div class="row">
    @foreach (var recipeCategory in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="@recipeCategory.ImageUrl" class="card-img-top" alt="Category Image" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">@recipeCategory.Name</h5>
                    <a asp-action="CategoryRecipes" asp-route-id="@recipeCategory.Id" class="btn btn-primary">View Recipes</a>
                </div>
            </div>
        </div>
    }
</div>
</form>