@using RecipeApp.Web.ViewModels.CategoryViewModels
@model IEnumerable<CategoryViewModel>

<div class="dropdown-menu">
    @foreach (var category in Model)
    {
        <a class="dropdown-item" asp-controller="Category" asp-action="CategoryRecipes" asp-route-id="@category.Id">@category.Name</a>
    }
</div>