@model RecipeApp.Web.ViewModels.FavoritesViewModels.CookbookCreateViewModel

<form method="post" asp-action="Create">
    <div class="mb-3">
        <label asp-for="Title" class="form-label">Cookbook Title</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label">Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary create-cookbook-inside-btn">Create Cookbook</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}